/* global styles */

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	box-sizing: border-box;
	min-height: 100%;
	padding-top: 46px;

	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	font-family: 'Arial', sans-serif;
	color: black;

	background-color: white;
}

a {
	text-decoration: none;

	outline: none;
}

.wrapper {
	width: 1088px;
	margin: 0 auto;
}

.visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;

	white-space: nowrap;

	border: 0;

	clip: rect(0 0 0 0);
	clip-path: inset(100%);
}

.left-container {
	float: left;
	width: 140px;
	margin-right: 44px;
}

main {
	display: inline-block;
	width: 896px;

	vertical-align: middle;
}

/* page-header block */

.page-header {
	margin-bottom: -5px;
}

.page-header__logo {
	margin-bottom: 5px;
	margin-left: 10px;
}

.page-header__item {
	position: relative;

	margin-bottom: 46px;
	padding-left: 45px;
}

.page-header__item::before {
	content: '';
	position: absolute;
	top: -5px;
	left: 3px;

	width: 30px;
	height: 30px;
}

.page-header__item--tastemakers::before {
	background-image: url('../img/food-icon.svg');
}

.page-header__item--blog::before {
	background-image: url('../img/blog-icon.svg');
}

.page-header__item--alist::before {
	background-image: url('../img/a-list-icon.svg');
}

.page-header__item--contribute::before {
	background-image: url('../img/camera-icon.svg');
}

.page-header__item--about::before {
	background-image: url('../img/about-icon.svg');
}

.page-header__link {
	font-style: italic;
	line-height: 14px;
	color: #34aca7;
}

.page-header__link:hover,
.page-header__link:focus {
	text-decoration: underline;
}

.page-header__link:active {
	color: #e5e5e5;
}

/* aside block */

.aside__title {
	margin-bottom: 10px;
	padding-bottom: 4px;

	font-size: 12px;
	line-height: 12px;
	font-family: 'Verdana', sans-serif;
	text-transform: uppercase;

	border-bottom: 1px dashed #e5e5e5;
}

.aside__link {
	position: relative;

	display: inline-block;
	width: 140px;
	height: 30px;
	margin-bottom: 5px;
	padding-top: 8px;
	padding-left: 28px;

	font-style: italic;
	font-size: 10px;
	line-height: 12px;
	vertical-align: middle;
	color: #34aca7;

	border: 1px solid #e5e5e5;
	border-radius: 5px;
}

.aside__link:hover,
.aside__link:focus {
	text-decoration: underline;
}

.aside__link:active {
	color: #e5e5e5;
}

.aside__link::before {
	content: '';
	position: absolute;
	top: 6px;
	left: 6px;

	width: 16px;
	height: 14px;

	background-image: url('../img/twitter-icon.svg');
}

.aside__description {
	margin-bottom: 12px;

	font-style: italic;
	font-size: 10px;
	line-height: 19px;
}

/* intro block */

.intro {
	position: relative;

	height: 445px;

	background-image: url('../img/Background.jpg');
}

.intro__title,
.intro__subtitle {
	position: absolute;

	font-style: italic;
}

.intro__title {
	top: 285px;

	width: 272px;
	height: 49px;
	padding-top: 16px;
	padding-left: 20px;

	font-size: 22px;
	letter-spacing: 0.22px;

	background-color: #ffffff;
}

.intro__subtitle {
	position: absolute;
	top: 334px;

	width: 487px;
	height: 42px;
	padding-top: 14px;
	padding-left: 24px;

	line-height: 14px;
	color: #ffffff;

	background-color: #000000;
}

/* navigation block */

.navigation {
	margin-bottom: 30px;
}

.navigation__list {
	display: flex;
	flex-wrap: wrap;
}

.navigation__item {
	width: 25%;
	min-height: 85px;
}

.navigation__link {
	display: inline-block;
	width: 100%;
	height: 100%;
	padding-top: 26px;
	padding-left: 20px;

	vertical-align: middle;

	background-color: #eff8f7;
}

.navigation__link:hover,
.navigation__link:focus {
	background-color: #d9efec;
}

.navigation__link:active {
	background-color: #e5e5e5;
}

.navigation__item--active .navigation__link {
	background-color: #d9efec;
}

.navigation__title {
	font-size: 18px;
	line-height: 18px;
	color: #34aca7;
}

.navigation__description {
	font-style: italic;
	font-size: 10px;
	line-height: 19px;
	color: #34aca7;
}

/* main-form block */

.main-form {
	position: relative;

	min-height: 51px;

	font-size: 0;

	border-top: 1px dashed #e5e5e5;
	border-bottom: 1px dashed #e5e5e5;
}

.main-form::before {
	content: '';
	position: absolute;
	top: 10px;
	left: 18px;

	width: 32px;
	height: 26px;

	background-image: url('../img/mail-icon.svg');
}

.main-form__description {
	display: inline-block;
	width: 596px;
	margin-top: 8px;
	padding-left: 66px;

	font-style: italic;
	font-size: 14px;
	line-height: 16px;
	vertical-align: middle;
}

.main-form form {
	display: inline-block;
	padding-top: 10px;
	padding-right: 16px;
	padding-left: 25px;

	vertical-align: middle;
}

.main-form__email {
	width: 160px;
	height: 22px;
	margin-right: 18px;
	padding: 6px;

	font-size: 10px;
	line-height: 10px;

	border: 1px solid #e5e5e5;
}

.main-form__email:hover,
.main-form__email:focus,
.main-form__email:active {
	border: 1px solid black;
	outline: none;
}

.main-form__email::placeholder {
	color: #e5e5e5;
}

.main-form__button {
	width: 80px;
	height: 23px;

	font-size: 10px;
	line-height: 10px;

	background-image: linear-gradient(to bottom, #f4f3f3 0%, #bbb9b9 100%);
	border: none;
	outline: none;
	cursor: pointer;
}

.main-form__button:hover,
.main-form__button:focus {
	background-color: #e5e5e5;
	background-image: none;
}

.main-form__button:active {
	background-color: #bbb9b9;
}

/* posts block */

.posts {
	margin-bottom: 24px;
}

.posts__list {
	display: flex;
	flex-wrap: wrap;
	margin-right: -11px;
	margin-left: -11px;
	padding-top: 29px;
}

.posts__item {
	width: calc(25% - 22px);
	margin-right: 11px;
	margin-left: 11px;
}

/* acticle block */

.article__image {
	margin-bottom: 6px;

	box-shadow: 0 1px 2px #c7c7c7;
}

.article__title {
	min-height: 42px;
	margin-bottom: 9px;

	font-size: 16px;
	line-height: 21px;
	color: #34aca7;
	letter-spacing: -0.32px;
}

.article__content {
	margin-bottom: 11px;

	letter-spacing: -0.3px;
}

.article__content--top {
	margin-top: -20px;
}

.article__content--middle {
	margin-bottom: 31px;
}

.article__content--bottom {
	margin-bottom: 46px;
}

.acticle__time {
	color: #e5e5e5;
	letter-spacing: -0.28px;
}

.article__link {
	margin-left: -3px;

	color: #34aca7;
	letter-spacing: -0.28px;
}

.article__link:hover,
.article__link:focus {
	text-decoration: underline;
}

.article__link:active {
	color: #e5e5e5;
}

/* page-footer block */

.page-footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	border-top: 2px solid #e5e5e5;
}

.page-footer__info {
	padding-top: 22px;
	padding-bottom: 36px;
}

.page-footer__list {
	font-size: 0;
}

.page-footer__item {
	display: inline-block;
	height: 15px;
	padding-right: 4px;

	vertical-align: middle;

	border-right: 1px solid #e5e5e5;
}

.page-footer__item:last-child {
	border-right: none;
}

.page-footer__link {
	font-size: 12px;
	line-height: 12px;
	color: #34aca7;
	letter-spacing: -0.24px;
}

.page-footer__link:hover,
.page-footer__link:focus {
	text-decoration: underline;
}

.page-footer__link:active {
	color: #e5e5e5;
}

.page-footer__copyright {
	font-size: 12px;
	line-height: 12px;
	color: #e5e5e5;
	letter-spacing: -0.24px;
}

.page-footer__social-list {
	width: 110px;
	margin-top: 25px;

	font-size: 0;
}

.page-footer__social-item {
	display: inline-block;
	width: 32px;
	height: 32px;
	margin-right: 0;

	vertical-align: middle;
}

.page-footer__social-item--tw {
	height: 26px;
}

.page-footer__social-item--fb {
	margin-right: 12px;
}

.page-footer__social-link {
	position: relative;
}

.page-footer__social-link::before {
	content: '';
	position: absolute;

	width: 32px;
	height: 32px;

	background-repeat: no-repeat;
}

.page-footer__social-item--tw .page-footer__social-link::before {
	left: -10px;

	height: 26px;

	background-image: url('../img/twitter-footer-icon.svg');
}

.page-footer__social-item--fb .page-footer__social-link::before {
	left: -6px;

	background-image: url('../img/fb-icon.svg');
}

.page-footer__social-item--rss .page-footer__social-link::before {
	left: -14px;

	background-image: url('../img/rss-icon.svg');
}
