*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	box-sizing: border-box;
	min-height: 100%;

	font-weight: 400;
	font-size: 18px;
	line-height: 20px;
	font-family: $mainFont;
	color: black;

	background-color: white;
}

a {
	text-decoration: none;

	outline: none;
}

img {
	max-width: 100%;
	height: auto;
}

.innerWrapper {
	width: 100%;
	margin: 0 auto;
	padding-right: 18px;
	padding-left: 18px;

	&--menu,
	&--form {
		width: 100%;
		padding-right: 0;
		padding-left: 0;
	}
}

.visuallyHidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;

	white-space: nowrap;

	border: 0;

	clip: rect(0 0 0 0);
	clip-path: inset(100%);
}

@media (min-width: $mobileWidth) {
	body {
		font-size: 14px;
	}

	.innerWrapper {
		max-width: 561px;
		margin: 0 auto;
		padding-right: 0;
		padding-left: 0;

		&--menu,
		&--form {
			max-width: 546px;
		}
	}
}

@media (min-width: $tabletWidth) {
	.innerWrapper {
		max-width: 712px;
	}
}

@media (min-width: $tabDeskWidth) {
	.innerWrapper {
		width: 174px;
		margin: 0;

		&--menu,
		&--form,
		&--posts {
			width: 712px;
		}
	}

	.wrapper .innerWrapper--footer {
		width: 100%;
		max-width: 100%;
	}

	.wrapper {
		display: flex;
		flex-wrap: wrap;
		width: 896px;
		margin: 0 auto;
	}
}

@media (min-width: $desktopWidth) {
	.wrapper {
		width: 1088px;
	}

	.innerWrapper {
		&--menu,
		&--form,
		&--posts {
			width: 896px;
			max-width: 896px;
		}
	}
}
