$mainFont: 'Arial', sans-serif;
$subFont: 'Verdana', sans-serif;
$mobileWidth: 480px;
$tabletWidth: 768px;
$tabDeskWidth: 992px;
$desktopWidth: 1176px;
$mainGreenColor: #34aca7;
$mainGrayColor: #e5e5e5;
$menuPath: '../img/menu/';
$articlePath: '../img/article/';
