.article {
	max-width: 375px;

	&__image {
		min-height: 200px;
		margin-bottom: 9px;

		background-repeat: no-repeat;
		background-size: 100%;
		border: 1px solid #ececec;


		@each $counter in 1, 2, 3, 4 {
			&--article#{$counter} {
				background-image: url($articlePath + 'article#{$counter}/article#{$counter}-mobile.jpg');

				@include retinaBgr($articlePath + 'article#{$counter}/article#{$counter}-mobile@2x.jpg');
			}
		}
	}

	&__content {
		margin-bottom: 19px;
		margin-left: -1px;
		padding-right: 9px;

		letter-spacing: -0.36px;
	}

	&__link {
		font-size: 16px;
		color: $mainGreenColor;
		letter-spacing: -0.32px;

		&--main {
			display: block;
			margin-bottom: 14px;

			font-size: 22px;
			line-height: 21px;
			color: $mainGreenColor;
			letter-spacing: -0.44px;
		}
	}

	&__link:hover,
	&__link:focus {
		text-decoration: underline;
	}

	&__link:active {
		opacity: 0.3;
	}

	&__time {
		margin-left: -1px;

		font-size: 16px;
		color: $mainGrayColor;
		letter-spacing: -0.32px;
	}

	&--chips {
		margin-left: 2px;
	}

	&--join {
		margin-left: 5px;
	}

	&--recipe {
		margin-left: 7px;
	}
}

.article span {
	margin-right: 7px;

	font-size: 16px;
	color: $mainGrayColor;
}

.article--chips .article__content {
	margin-bottom: 29px;
}

.article--chips span {
	margin-right: 4px;
}

.article--join .article__link--main {
	margin-bottom: 16px;
}

.article--recipe .article__link--main {
	margin-bottom: 18px;
}

.article--recipe .article__time {
	display: inline-block;
	margin-left: 10px;
}

.article--recipe span {
	margin-right: 0;
}

.article--join span,
.article--chips br {
	display: none;
}

@media (min-width: $mobileWidth) {
	.article {
		display: flex;
		flex-direction: column;
		width: 256px;
		min-height: 320px;
		margin-left: 0;

		&__content {
			margin-bottom: 10px;
			padding-right: 20px;

			letter-spacing: -0.28px;
		}

		&__wrapper {
			margin-top: auto;
		}

		&__time,
		&__link {
			font-size: 14px;
			line-height: 20px;
		}

		&__link {
			&--main {
				margin-bottom: 5px;

				font-size: 16px;
				letter-spacing: -0.32px;
			}
		}

		&__footer {
			margin-top: auto;
		}

		&--chips,
		&--best {
			min-height: 337px;
		}

		&--join {
			min-height: 325px;
		}
	}

	.article .article__image {
		min-height: 150px;
		margin-bottom: 8px;

		@each $counter in 1, 2, 3, 4 {
			&--article#{$counter} {
				background-image: url($articlePath + 'article#{$counter}/article#{$counter}-mob-tab.jpg');

				@include retinaBgr($articlePath + 'article#{$counter}/article#{$counter}-mob-tab@2x.jpg');
			}
		}
	}

	.article--chips .article__content {
		padding-right: 9px;
	}

	.article span {
		margin-right: -3px;

		font-size: 14px;
		line-height: 20px;
	}

	.article--join .article__link {
		margin-bottom: 3px;
	}

	.article--recipe .article__content {
		padding-right: 7px;
	}

	.article--join span {
		display: inline;
	}

	.article--recipe .article__time {
		margin-left: 0;
	}
}

@media (min-width: $tabletWidth) {
	.article {
		justify-content: flex-start;
		width: 157px;
	}

	.article .article__image {
		min-height: 113px;

		@each $counter in 1, 2, 3, 4 {
			&--article#{$counter} {
				background-image: url($articlePath + 'article#{$counter}/article#{$counter}-tablet.jpg');

				@include retinaBgr($articlePath + 'article#{$counter}/article#{$counter}-tablet@2x.jpg');
			}
		}
	}

	.article .article__link--main {
		margin-bottom: 8px;
	}

	.article .article__content {
		margin-bottom: 10px;
		padding-right: 2px;
	}

	.article--chips br {
		display: inline;
	}

	.article--join br {
		display: none;
	}

	.article .article__footer {
		margin-top: 0;
	}
}

@media (min-width: $tabDeskWidth) {
	.article {
		width: 159px;
	}

	.article .article__image {
		@each $counter in 1, 2, 3, 4 {
			&--article#{$counter} {
				background-image: url($articlePath + 'article#{$counter}/article#{$counter}-tab-desk.jpg');

				@include retinaBgr($articlePath + 'article#{$counter}/article#{$counter}-tab-desk@2x.jpg');
			}
		}
	}

	.article--recipe .article__link--main {
		padding-right: 2px;

		letter-spacing: -0.35px;
	}

	.article--recipe .article__content {
		padding-right: 0;
	}
}

@media (min-width: $desktopWidth) {
	.article {
		width: 206px;
	}

	.article .article__image {
		min-height: 143px;
		margin-bottom: 6px;

		@each $counter in 1, 2, 3, 4 {
			&--article#{$counter} {
				background-image: url($articlePath + 'article#{$counter}/article#{$counter}-desktop.jpg');

				@include retinaBgr($articlePath + 'article#{$counter}/article#{$counter}-desktop@2x.jpg');
			}
		}
	}

	.article .article__link--main {
		margin-bottom: 9px;
	}

	.article--chips .article__link--main,
	.article--chips .article__content {
		margin-bottom: 30px;
	}

	.article--chips .article__content {
		padding-right: 0;
	}

	.article--recipe .article__content {
		margin-bottom: 45px;
	}

	.article--chips br {
		display: none;
	}
}
