.article__image {
	margin-bottom: 9px;

	box-shadow: 0 1px 0 1px #ececec;
}

.article__mainLink {
	display: block;
	margin-bottom: 14px;

	font-size: 22px;
	line-height: 21px;
	color: #34aca7;
	letter-spacing: -0.44px;

	&:hover,
	&:focus {
		text-decoration: underline;
	}

	&:active {
		opacity: 0.3;
	}
}

.article__content {
	margin-bottom: 19px;
	margin-left: -1px;
	padding-right: 20px;

	letter-spacing: -0.36px;
}

.acticle__time {
	margin-left: -1px;

	font-size: 16px;
	color: #e5e5e5;
	letter-spacing: -0.32px;
}

.article span {
	margin-right: 7px;

	font-size: 16px;
	color: #e5e5e5;
}

.article__link {
	font-size: 16px;
	color: #34aca7;
	letter-spacing: -0.32px;

	&:hover,
	&:focus {
		text-decoration: underline;
	}

	&:active {
		opacity: 0.3;
	}
}

.article--chips {
	margin-left: 2px;
}

.article--chips .article__image {
	margin-bottom: 6px;
}

.article--chips .article__content {
	margin-bottom: 29px;
}

.article--chips span {
	margin-right: 4px;
}

.article--join {
	margin-left: 5px;
}

.article--join .article__image {
	margin-bottom: 12px;
}

.article--join .article__mainLink {
	margin-bottom: 16px;
}

.article--recipe {
	margin-left: 7px;
}

.article--recipe .article__image {
	margin-bottom: 11px;
}

.article--recipe .article__mainLink {
	margin-bottom: 18px;
}

.article--recipe .acticle__time {
	display: inline-block;
	margin-left: 10px;
}

.article--recipe span {
	margin-right: 0;
}

.article--join span,
.article--chips br {
	display: none;
}

@media (min-width: 480px) {
	.article {
		display: flex;
		flex-direction: column;
		width: 256px;
		min-height: 320px;
		margin-left: 0;

		&--chips,
		&--best {
			min-height: 337px;
		}

		&--join {
			min-height: 325px;
		}
	}

	.article .article__image {
		margin-bottom: 8px;
	}

	.article__mainLink {
		margin-bottom: 5px;

		font-size: 16px;
		letter-spacing: -0.32px;
	}

	.article__content {
		margin-bottom: 10px;

		letter-spacing: -0.28px;
	}

	.article--chips .article__content {
		padding-right: 9px;
	}

	.acticle__time,
	.article__link,
	.article span {
		font-size: 14px;
		line-height: 20px;
	}

	.article__wrapper {
		margin-top: auto;
	}

	.article span {
		margin-right: -3px;
	}

	.article--join .article__mainLink {
		margin-bottom: 3px;
	}

	.article--recipe .article__content {
		padding-right: 8px;
	}

	.article--join span {
		display: inline;
	}

	.article--recipe .article__wrapper {
		margin-top: auto;
		margin-bottom: 6px;
	}

	.article--recipe .acticle__time {
		margin-left: 0;
	}

	.article--join br {
		display: none;
	}
}

@media (min-width: 768px) {
	.article {
		justify-content: flex-start;
		width: 157px;
	}

	.article .article__mainLink {
		margin-bottom: 8px;
	}

	.article .article__content {
		margin-bottom: 10px;
		padding-right: 0;
	}

	.article--chips br {
		display: inline;
	}

	.article .article__wrapper {
		margin-top: 0;
	}
}

@media (min-width: 992px) {
	.article {
		width: 159px;
	}

	.article--recipe .article__mainLink {
		letter-spacing: -0.35px;
	}
}

@media (min-width: 1176px) {
	.article {
		width: 207px;
	}

	.article .article__image {
		margin-bottom: 6px;
	}

	.article .article__mainLink {
		margin-bottom: 9px;
	}

	.article--chips .article__mainLink,
	.article--chips .article__content {
		margin-bottom: 30px;
	}

	.article--recipe .article__content {
		margin-bottom: 45px;
	}

	.article--chips br {
		display: none;
	}
}
