.footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: -6px;
	margin-right: 2px;
	margin-left: 8px;
	padding-top: 19px;
	padding-bottom: 22px;

	border-top: 2px solid $mainGrayColor;

	&__list {
		display: flex;
		flex-wrap: wrap;
		margin-right: -5px;
		margin-bottom: 4px;
		margin-left: -5px;
	}

	&__link,
	&__copyright {
		font-size: 12px;
		line-height: 12px;
		letter-spacing: -0.24px;
	}

	&__link {
		margin-right: 5px;
		margin-left: 5px;

		color: $mainGreenColor;

		&:hover,
		&:focus {
			text-decoration: underline;
		}

		&:active {
			opacity: 0.3;
		}
	}

	&__item {
		position: relative;

		&:not(:last-child)::after {
			content: '';
			position: absolute;
			top: 8px;
			right: -1px;

			width: 1px;
			height: 11px;

			background-color: $mainGrayColor;
		}
	}

	&__copyright {
		color: $mainGrayColor;
	}

	&__social-list {
		display: flex;
		align-items: center;
		margin-right: -2px;
		margin-left: -2px;
	}

	&__social-item {
		margin-right: 2px;
		margin-left: 2px;
	}
}

.footer__social-link svg {
	fill: $mainGrayColor;
}

.footer__social-link:hover svg,
.footer__social-link:focus svg {
	fill: $mainGreenColor;
}

.footer__social-link:active svg {
	fill-opacity: 0.3;
}

@media (min-width: $mobileWidth) {
	.footer {
		margin-right: 7px;
		margin-left: 0;
		padding-top: 21px;
		padding-bottom: 36px;

		&__social-list {
			margin-top: 6px;
			margin-right: -7px;
		}
	}
}

@media (min-width: $tabletWidth) {
	.footer {
		&__social-list {
			margin-top: 10px;
			margin-right: -3px;
		}
	}
}

@media (min-width: $tabDeskWidth) {
	.footer {
		width: 100%;
		max-width: 100%;
		padding-top: 18px;

		&__social-list {
			margin-top: 5px;
		}
	}
}

@media (min-width: $desktopWidth) {
	.footer {
		margin-right: 17px;
		margin-left: -18px;
		padding-top: 20px;

		&__info {
			margin-left: 8px;
		}

		&__social-list {
			margin-right: 5px;
		}
	}
}
