.footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-right: 18px;
	margin-left: 18px;
	padding-top: 19px;
	padding-bottom: 22px;

	border-top: 2px solid $mainGrayColor;

	&__list {
		display: flex;
		flex-wrap: wrap;
		margin-right: -5px;
		margin-bottom: 4px;
		margin-left: -5px;

		&--social {
			display: flex;
			align-items: center;
			margin-right: -2px;
			margin-left: -2px;
		}
	}

	&__link,
	&__copyright {
		font-size: 12px;
		line-height: 12px;
		letter-spacing: -0.24px;
	}

	&__link {
		margin-right: 5px;
		margin-left: 5px;

		color: $mainGreenColor;

		&:hover,
		&:focus {
			text-decoration: underline;
		}

		&:active {
			opacity: 0.3;
		}

		&--social {
			margin-right: 0;
			margin-left: 0;
		}
	}

	&__item {
		position: relative;

		&:not(:last-child)::after {
			content: '';
			position: absolute;
			top: 8px;
			right: -1px;

			width: 1px;
			height: 11px;

			background-color: $mainGrayColor;
		}

		&--social {
			margin-right: 2px;
			margin-left: 2px;

			&:not(:last-child)::after {
				display: none;
			}
		}
	}

	&__copyright {
		color: $mainGrayColor;
	}
}

.footer__link--social svg {
	fill: $mainGrayColor;
}

.footer__link--social:hover svg,
.footer__link--social:focus svg {
	fill: $mainGreenColor;
}

.footer__link--social:active svg {
	fill-opacity: 0.3;
}

@media (min-width: $mobileWidth) {
	.footer {
		margin-right: 30px;
		margin-left: 30px;
		padding-top: 21px;
		padding-bottom: 36px;

		&__list {
			&--social {
				margin-top: 6px;
				margin-right: -7px;
			}
		}

		&__copyright {
			max-width: 195px;
		}
	}
}

@media (min-width: $tabletWidth) {
	.footer {
		max-width: 712px;
		margin: 0 auto;

		&__list {
			&--social {
				margin-top: 10px;
				margin-right: -3px;
			}
		}
	}
}

@media (min-width: $tabDeskWidth) {
	.footer {
		width: 100%;
		max-width: 100%;
		margin-right: 0;
		margin-left: 0;
		padding-top: 18px;

		&__list {
			&--social {
				margin-top: 5px;
			}
		}

		&__copyright {
			max-width: 208px;
		}
	}
}

@media (min-width: $desktopWidth) {
	.footer {
		padding-top: 20px;

		&__info {
			margin-left: 8px;
		}

		&__list {
			&--social {
				margin-right: 5px;
				margin-left: 5px;
			}
		}
	}
}
