.header {
	display: flex;
	flex-direction: column;
	margin-top: 35px;
	margin-bottom: 38px;

	&__link {
		display: block;

		font-style: italic;
		font-size: 14px;
		line-height: 14px;
		text-align: center;
		color: $mainGreenColor;
		word-wrap: break-word;

		&:hover,
		&:focus {
			text-decoration: underline;

			svg {
				fill: $mainGreenColor;
			}
		}

		&:active {
			opacity: 0.3;
		}

		&--logo {
			order: 1;

			text-align: center;
		}
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 38px;
	}

	&__item:not(:last-child) {
		width: 100px;
	}
}

.header__link svg {
	display: none;
}

@media (min-width: $mobileWidth) {
	.header {
		flex-direction: row;
		margin-top: 21px;
		margin-bottom: 36px;

		&__link {
			&--logo {
				order: 0;
			}
		}

		&__navigation {
			margin-top: 53px;
		}
	}
}

@media (min-width: $tabletWidth) {
	.header {
		margin-bottom: 44px;

		&__navigation {
			margin-top: 25px;
			margin-left: 90px;
		}

		&__item {
			padding-top: 50px;

			&:last-child {
				width: 100px;
			}
		}

		&__link {
			position: relative;
		}
	}

	.header__link svg {
		position: absolute;
		top: -44px;
		left: 35px;

		display: inline;
	}
}

@media (min-width: $tabDeskWidth) {
	.header {
		flex-direction: column;
		margin-top: 50px;
		margin-bottom: 0;

		&__navigation {
			min-height: 330px;
			margin-top: 0;
			margin-left: 0;
		}

		&__link {
			width: 140px;
			padding-top: 12px;
			padding-bottom: 40px;
			padding-left: 35px;

			text-align: left;

			&--logo {
				margin-bottom: 5px;
				padding: 0;

				text-align: left;
			}
		}


		&__list {
			margin-bottom: 13px;
		}

		&__item {
			padding-top: 0;
		}
	}

	.header__link svg {
		top: 3px;
		left: 0;
	}
}

@media (min-width: $desktopWidth) {
	.header {
		margin-top: 46px;

		&__link {
			&--logo {
				margin-bottom: -3px;
			}
		}

		&__list {
			margin-bottom: 4px;
		}
	}
}
