.menu {
	width: 100%;
	margin-bottom: 25px;

	&__intro {
		position: relative;

		min-height: 373px;

		background-image: url($menuPath + 'background-mobile.jpg');
		background-repeat: no-repeat;
		background-size: 100% auto;

		@include retinaBgr($menuPath + 'background-mobile@2x.jpg');
	}

	&__text {
		position: absolute;
		bottom: 0;

		width: 100%;
	}

	&__heading {
		padding-top: 16px;
		padding-right: 8px;
		padding-bottom: 13px;
		padding-left: 8px;

		font-style: italic;
		font-size: 22px;
		letter-spacing: 0.22px;

		background-color: #ffffff;
		opacity: 0.6;
	}

	&__subtitle {
		padding-top: 9px;
		padding-right: 6px;
		padding-bottom: 15px;
		padding-left: 6px;

		font-style: italic;
		font-size: 14px;
		line-height: 14px;
		color: #ffffff;

		background-color: #000000;
	}

	&__list {
		display: none;
	}

	&__image {
		width: 100%;
	}
}

@media (min-width: $mobileWidth) {
	.menu {
		max-width: 546px;
		margin: 0 auto;
		margin-bottom: 34px;

		&__text {
			max-width: 546px;
		}

		&__subtitle {
			padding-top: 14px;
			padding-bottom: 15px;
			padding-left: 24px;
		}

		&__intro {
			min-height: 353px;

			background-image: url($menuPath + 'background-mob-tab.jpg');

			@include retinaBgr($menuPath + 'background-mob-tab@2x.jpg');
		}
	}
}

@media (min-width: $tabletWidth) {
	.menu {
		max-width: 712px;
		margin-bottom: 21px;


		&__intro {
			min-height: 445px;

			background-image: url($menuPath + 'background-tablet.jpg');

			@include retinaBgr($menuPath + 'background-tablet@2x.jpg');
		}

		&__text {
			bottom: 69px;

			width: 481px;
		}

		&__heading {
			width: 269px;
			padding-left: 18px;

			opacity: 1;
		}

		&__item {
			display: flex;
		}

		&__list {
			display: flex;
			flex-wrap: wrap;
		}

		&__description {
			display: none;
		}

		&__link {
			display: block;
			width: 178px;
			padding: 10px;

			font-size: 14px;
			line-height: 14px;
			text-align: center;
			color: $mainGreenColor;

			background-color: #eff8f7;
			border-right: 1px solid #f9fbfb;
			border-left: 1px solid #f9fbfb;

			&--current,
			&:hover,
			&:focus {
				background-color: #d9efec;
			}

			&:active {
				opacity: 0.5;
			}
		}
	}
}

@media (min-width: $tabDeskWidth) {
	.menu {
		margin-top: 50px;

		&__text {
			width: 487px;
		}

		&__heading {
			width: 272px;
			padding-left: 21px;
		}
	}
}

@media (min-width: $desktopWidth) {
	.menu {
		max-width: 896px;
		margin-top: 46px;
		margin-bottom: 30px;

		&__heading {
			padding-left: 19px;
		}

		&__link {
			width: 224px;
			min-height: 85px;
			padding-top: 26px;
			padding-right: 19px;
			padding-left: 19px;

			text-align: left;
		}

		&__title {
			font-size: 18px;
			line-height: 18px;
		}

		&__description {
			display: block;

			font-style: italic;
			font-size: 10px;
			line-height: 19px;
		}

		&__intro {
			background-image: url($menuPath + 'background-desktop.jpg');

			@include retinaBgr($menuPath + 'background-desktop@2x.jpg');
		}
	}
}
