.posts {
	padding-right: 18px;
	padding-left: 18px;

	&__article {
		margin: 0 auto;
		margin-bottom: 27px;
	}
}

@media (min-width: $mobileWidth) {
	.posts {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-bottom: 31px;
		padding-right: 0;
		padding-left: 0;
	}

	.posts .posts__article {
		margin-right: 17px;
		margin-bottom: 14px;
		margin-left: 17px;
	}
}

@media (min-width: $tabletWidth) {
	.posts {
		width: 712px;
		margin: 0 auto;
		margin-bottom: 65px;
	}

	.posts .posts__article {
		margin-right: 12px;
		margin-left: 12px;
	}

	.posts .posts__article:last-child {
		margin-right: 0;
	}

	.posts .posts__article:nth-child(2) {
		margin-left: 0;
	}
}

@media (min-width: $tabDeskWidth) {
	.posts {
		margin-bottom: 32px;
		padding-right: 0;
	}
}

@media (min-width: $desktopWidth) {
	.posts {
		width: 896px;
		margin-bottom: 13px;
		padding-left: 0;
	}
}
