.posts {
	padding-left: 35px;

	&__article {
		margin-bottom: 27px;
	}
}

@media (min-width: $mobileWidth) {
	.posts {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-right: -17px;
		margin-bottom: 31px;
		margin-left: -17px;
		padding-right: 7px;
		padding-left: 8px;
	}

	.posts .posts__article {
		margin-right: 17px;
		margin-bottom: 14px;
		margin-left: 17px;
	}
}

@media (min-width: $tabletWidth) {
	.posts {
		margin-bottom: 65px;
		padding-right: 9px;
		padding-left: 1px;
	}

	.posts .posts__article {
		margin-right: 12px;
		margin-left: 12px;
	}
}

@media (min-width: $tabDeskWidth) {
	.posts {
		margin-bottom: 32px;
		padding-right: 0;
	}
}

@media (min-width: $desktopWidth) {
	.posts {
		margin-bottom: 13px;
		padding-left: 0;
	}
}
