.widgets {
	display: none;
}

@media (min-width: 992px) {
	.widgets {
		display: flex;
		flex-direction: column;
		width: 140px;
		margin-bottom: 50px;
		margin-left: -10px;
	}

	.widgets__title {
		margin-bottom: 9px;
		padding-bottom: 4px;

		font-size: 12px;
		line-height: 12px;
		font-family: 'Verdana', sans-serif;
		text-transform: uppercase;

		border-bottom: 1px dashed #e5e5e5;
	}

	.widgets__link {
		position: relative;

		display: block;
		margin-bottom: 15px;
		padding-top: 8px;
		padding-bottom: 7px;
		padding-left: 28px;

		font-style: italic;
		font-size: 10px;
		line-height: 12px;
		color: #34aca7;

		border: 1px solid #e5e5e5;
		border-radius: 5px;

		&:hover,
		&:focus {
			border: 1px solid #34aca7;
		}

		&:active {
			opacity: 0.5;
		}
	}

	.widgets__link svg {
		content: '';
		position: absolute;
		top: 7px;
		left: 6px;

		width: 16px;
		height: 14px;
	}

	.widgets__description {
		margin-top: 10px;
		margin-bottom: 14px;

		font-style: italic;
		font-size: 10px;
		line-height: 19px;
	}
}

@media (min-width: 1176px) {
	.widgets__link {
		margin-bottom: 5px;
		padding-bottom: 8px;
	}
}
