.header {
	display: flex;
	flex-direction: column;
	margin-top: 35px;
	margin-bottom: 38px;
}

.header__logoLink {
	order: 1;

	text-align: center;
}

.header__list {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 38px;
}

.header__link {
	display: block;

	font-style: italic;
	font-size: 14px;
	line-height: 14px;
	text-align: center;
	color: #34aca7;
	word-wrap: break-word;
}

.header__link:hover,
.header__link:focus {
	text-decoration: underline;
}

.header__link:active {
	opacity: 0.3;
}

.header__link:hover svg,
.header__link:focus svg {
	fill: #34aca7;
}

.header__item:not(:last-child) {
	width: 100px;
}

.header__link svg {
	display: none;
}

@media (min-width: 480px) {
	.header {
		flex-direction: row;
		margin-top: 21px;
		margin-bottom: 36px;
	}

	.header__logoLink {
		order: 0;
	}

	.header__navigation {
		margin-top: 53px;
	}
}

@media (min-width: 768px) {
	.header {
		margin-bottom: 44px;
	}

	.header__navigation {
		margin-top: 25px;
		margin-left: 90px;
	}

	.header__item {
		padding-top: 50px;
	}

	.header__item:last-child {
		width: 100px;
	}

	.header__link {
		position: relative;
	}

	.header__link svg {
		position: absolute;
		top: -44px;
		left: 35px;

		display: inline;
	}
}

@media (min-width: 992px) {
	.header {
		flex-direction: column;
		margin-top: 50px;
		margin-bottom: 0;
	}

	.header__navigation {
		min-height: 330px;
		margin-top: 0;
		margin-left: 0;
	}

	.header__link {
		width: 140px;
		padding-top: 12px;
		padding-bottom: 40px;
		padding-left: 35px;

		text-align: left;
	}

	.header__logoLink {
		margin-bottom: 5px;

		text-align: left;
	}

	.header__link svg {
		top: 3px;
		left: -7px;
	}

	.header__list {
		margin-bottom: 13px;
	}

	.header__item {
		padding-top: 0;
	}
}

@media (min-width: 1176px) {
	.header {
		margin-top: 46px;
	}

	.header__logoLink {
		margin-bottom: -3px;
	}

	.header__list {
		margin-bottom: 4px;
	}
}
